<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Symfony{% endblock %}</title>
    <link rel="icon" type="image/jpg" href="{{ asset('images/favicon.ico') }}" />
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {{ ux_controller_link_tags() }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

{% if app.request.pathinfo == path('app_login') or app.request.pathinfo == path('app_register') %}
<body class="h-screen overflow-hidden" style="background: rgb(203,226,255); background: linear-gradient(45deg, rgba(203,226,255,1) 0%, rgba(170,215,255,1) 50%, rgba(96,164,255,1) 100%);"></body>
{% else %}
<body>
<nav class="bg-blue-600 p-4 shadow-md">
    <div class="container mx-auto flex justify-between items-center">
        <div class="text-white text-2xl font-bold">
            <a href="{{ path('all-articles') }}">Accueil</a>
        </div>
        <div class="flex items-center space-x-4">
            {% if app.user %}
                {% if is_granted('ROLE_STUDENT') %}
                    <a class="text-white hover:bg-blue-700 p-2 rounded" href="{{ path('user-profile', {'id': app.user.getInscriptionId()}) }}">{{ app.user.email }}</a>
                {% endif %}
                <a class="text-white hover:bg-blue-700 p-2 rounded" href="{{ path('logout') }}">Se déconnecter</a>
            {% else %}
                <a class="text-white hover:bg-blue-700 p-2 rounded" href="{{ path('app_login') }}">Se connecter</a>
                <a class="text-white hover:bg-blue-700 p-2 rounded" href="{{ path('app_register') }}">S'inscrire</a>
            {% endif %}
        </div>
    </div>
</nav>
{% endif %}
{% block body %}{% endblock %}
</body>
</html>
